<div class="top-content">
  <h3>月データの作成</h3>
  <p>正常に作成できません。。</p>
</div>
<div class="bottom-content">
    <div class="link-btns">
        <%= link_to root_path, class: "back-btn" do %>
            <%= fa_icon "home 3x" %><br>
            <span class="btn-text">ホーム</span>
        <% end %>
        <%= link_to new_month_path, class: "back-btn" do %>
            <%= fa_icon "chevron-circle-left 3x" %><br>
            <span class="btn-text">前に戻る</span>
        <% end %>
    </div>
</div>
